.car-item {
  width: 200px;
  height: 140px;
  text-align: center;
  padding: 10px;
}

.movie-item {
  width: 600px;
  height: 200px;
}

.movie-item table {
  margin: 0 auto;
}

.movie-item table tr td {
  padding: 10px;
}